{% extends 'base.html' %}


{% block content %}

    
    <div class="container">
        <div class="stock_error">
            <p id="stock_error"></p>
        </div>

        {% for product in products  %}

        <div class="productContainer">
            <div class="thumbnail">
                {% if product.picture %}
                <img src="{{product.picture.url}}" alt="">
                {%endif%}
            </div>

            <div class="action">

                <p>{{product.name}}</p>

                <p>{{product.price}} <small>AED</small></p>

                <div>
                    <p style="display: inline;">quantity</p>
                    <input class="inputqyt" type="text" onchange="getValue('{{product.id}}')" id="quantity{{product.id}}" placeholder="1" value="1">
                </div>          
    
                <button onclick="addToCart('{{product.id}}')">Add to Cart</button>

            </div>
           

        </div> 

        <script>

            function getValue(product_id) {
                let inputField = document.getElementById("quantity" + product_id);
                let value = inputField.value;
                return value;
              }
            
            
            function addToCart(product_id){
                let url = "/add_to_cart"
            
                let value = getValue(product_id)
                console.log(value)
            
                let data = {id:product_id, qty:value}
            
                fetch(url, {
                    method: "POST",
                    headers: {"Content-Type":"application/json", 'X-CSRFToken': csrftoken},
                    body: JSON.stringify(data)
                })
                .then(res=>res.json())
                .then(data=>{
                    document.getElementById("num_of_items").innerHTML = data.num_of_item
                    if(data.error){
                        alert(data.error)
                    }
                })
                .catch(error=>{
                    console.log(error)
                })
            }
        </script>
        
        {% endfor %}

    </div>

    

{% endblock content %}


